html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: PingFangSC, Microsoft JhengHei, sans-serif;
  background-color: #eef2f5;
  padding: 0;
  margin: 0;
  position: relative;
}

.main-bg {
  position: absolute;
  width: 100%;
  max-height: 1000px;
  background: url("../img/head-star.png") center top/cover no-repeat, #000a29 url("../img/head.jpg") center top/90% no-repeat;
}
.main-bg img {
  display: block;
  width: 100%;
  max-height: 1000px;
}

.wrap {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: auto;
}
.wrap .cont {
  position: relative;
  width: 100%;
  max-width: 840px;
  margin: auto;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: auto;
}

.main-btn {
  width: 160px;
  height: 50px;
  line-height: 50px;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background-image: linear-gradient(282deg, #ff8f00, #ff5000);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.3s;
}
.main-btn.rounded {
  background: transparent;
  box-shadow: 0 0 0 1px #fff inset;
}
.main-btn.rounded:hover {
  background: rgba(0, 0, 0, 0.2);
}
.main-btn:hover {
  background-image: linear-gradient(282deg, #ff5000, #ff5000);
}

section.main {
  position: relative;
  height: 70vh;
  color: #fff;
  background: url("../img/logo.svg") 0px 20px no-repeat;
}
section.main .main-text {
  position: relative;
  width: 450px;
  margin: auto;
  top: 75%;
}
section.main .main-text h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 12px;
}
section.main .main-text p {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.8;
}
section.main .main-text .btn-group {
  padding: 25px 0 50px;
}
section.feature {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
section.feature .feature-item {
  width: 200px;
  height: 360px;
  padding: 50px 25px 10px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(161, 172, 183, 0.5);
  color: #606060;
  font-size: 14px;
  line-height: 1.7;
}
section.feature .feature-item .f-icon {
  width: 105px;
  margin: auto;
  display: block;
}
section.feature .feature-item h2 {
  text-align: center;
  font-size: 21px;
  color: #333;
  margin: 15px 0;
}
section.platform {
  color: #606060;
  font-size: 14px;
  line-height: 1.7;
  display: flex;
  justify-content: space-between;
  margin-top: -70px;
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
}
section.platform h2 {
  color: #0db0c9;
  font-size: 25px;
  margin-bottom: 15px;
}
section.platform .platform-text strong {
  display: block;
  font-weight: bold;
  color: #0d2c46;
  margin-top: 10px;
}
section.platform .platform-text .ico-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 280px;
}
section.platform .platform-text .ico-list li {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: solid 1px rgba(81, 229, 243, 0.7);
  box-shadow: 0 0 8px 0 rgba(103, 240, 255, 0.6);
}
section.platform .device {
  margin-top: -40px;
  margin-right: -70px;
}

.ptr-logos {
  width: 100%;
}

.about-ae {
  width: 750px;
  position: relative;
  margin: auto;
  color: #606060;
  font-size: 14px;
  line-height: 1.7;
  padding: 30px 0 60px;
}
.about-ae h2 {
  text-align: center;
  color: #0db0c9;
  font-size: 25px;
  margin-bottom: 15px;
}

.stream-vid {
  width: 100%;
  height: 380px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 8px;
  background-color: #444;
  box-shadow: 0 4px 10px 0 rgba(161, 172, 183, 0.5);
}
.stream-vid .video-control {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.stream-vid .ae-logo {
  position: absolute;
  z-index: 1;
  width: 130px;
  top: 10px;
  left: 10px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));
}
.stream-vid video {
  width: 100%;
  margin-top: -92px;
}

.logo-ae-uwin {
  position: relative;
  margin: -100px auto 0;
  padding-top: 170px;
  width: 550px;
  height: 310px;
  background: url("../img/poly-01.png") left top no-repeat;
  text-align: center;
}
.logo-ae-uwin img {
  display: block;
  margin: 20px auto;
}

.bottom-block {
  width: 100%;
  position: relative;
}
.bottom-block .bottom-bg {
  display: block;
  width: 100%;
}
.bottom-block .bottom-cont {
  position: absolute;
  width: 850px;
  left: 50%;
  margin-left: -425px;
  text-align: center;
  top: 0;
}
.bottom-block .bottom-cont h2 {
  color: #fff;
  font-size: 25px;
  line-height: 1.8;
  margin-bottom: 50px;
}
.bottom-block .copy {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 11px;
  bottom: 15px;
  left: 0;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
}
